	/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
	*/
	@import url(nav-horizontal.css);	
	
	body {
    	margin: 0;
    	padding:0px;
		background: #FFFFFF;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #333333;
	}
		
		
	h1, h2, h3 {
		margin: 0;
		padding: 0;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: normal;
		color: #333333;
		
	}
	
	h1 {
		font-size: 2.2em;
	}
	
	h2 {
		font-size: 1.8em;
	}
	
	h3 {
		font-size: 1.6em;
	}
	
	p, ul, ol {
		margin-top: 0;
		line-height: 180%;
	}
	
	ul, ol {
	}
	
	a {
		text-decoration: none;
		/*color: #4486C7;*/
		color: #333333;
	
	}
	
	div#a:hover {
	}
	
	div#wrapper {
		width: 930px;
		margin: 0 auto;
		padding: 0;		
	}
	
	div#search {
		float: right;
		width: 160px;
		height: 60px;
		padding: 20px 0px 0px 0px;
		background: #E2E2E2;
		border-bottom: 4px solid #E2E2E2;
	}
	
	div#search form {
		height: 41px;
		margin: 0;
		padding: 10px 0 0 0px;
	}
	
	div#search fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}
	
	div#search-text {
		width: 125px;
		padding: 6px 5px 2px 5px;
		border: 1px solid #DEDEDE;
		background: #FFFFFF;
		text-transform: lowercase;
		font: normal 11px Arial, Helvetica, sans-serif;
		color: #5D781D;
	}
	
	div#search-submit {
		width: 50px;
		height: 22px;
		border: none;
		background: #B9B9B9;
		color: #000000;
	}
	
	
	/* Content */
	
	div#main-title {
		width: 925px;
		float: left;	
		font-size: large;
		font-style: BOLD;
		letter-spacing: 0.1em;
		color: #787878;
		border-bottom: 1px solid #E2E2E2;
	}
	
	div#main-banner {
		float: left;
		padding-top: 20px;
		padding-bottom: 20px;		
	}
	
	/* Basic tags */
	a {background-color:inherit; color:#286ea0; font-weight:700; text-decoration:none;}
	a:hover {background-color:inherit; color:#286ea0; text-decoration:underline;}
	a img {border:0;}
	p {margin:0 0 1.4em;}
	
	/*div#left-sidebar {clear:left; float:left; margin:0 0 5px; padding-right:5px ; width:140px;}
	div#left-sidebar p,div#left-sidebar ul {margin:0 0 16px; padding:0;}
	div#left-sidebar p {font-size:0.9em; line-height:1.4em;}
	div#left-sidebar li {line-height:1.2em; list-style:none; margin:0 0 6px; padding:0;}
	div#left-sidebar ul ul {margin:6px 0 0 10px; padding:0;}
	div#left-sidebar ul ul li {margin:0 0 4px;}
	div#left-sidebar ul ul li a {font-weight:400;}
	div#left-sidebar h2,div#left-sidebar h3 {color:#505050; font-size:1.2em; margin:0 0 8px; padding:0;}

	div#left-sidebar ul.avmenu {display:block; list-style:none; margin:0 0 18px 0; padding:0; width:140px;}
	div#left-sidebar ul.avmenu li {display:inline; line-height:1.4em; padding:0; width:140px;}
	div#left-sidebar ul.avmenu li a {background-color:#f4f4f4; border-left:4px solid #ccc; color:#505050; float:left; font-weight:700; margin-bottom:5px; padding:5px 1px 5px 5px; text-decoration:none; width:130px;}
	div#left-sidebar ul.avmenu li a:hover,div#left-sidebar ul.avmenu li a.current {background-color:#eaeaea; border-left:4px solid #286ea0; color:#505050;}
	div#left-sidebar ul.avmenu ul {font-size:0.9em; margin:0 0 0 15px; padding:0 0 5px; width:125px;}
	div#left-sidebar ul.avmenu ul a {font-weight:400; padding:3px 1px 3px 5px; width:115px;}
	div#left-sidebar ul.avmenu ul ul {width:113px;}
	div#left-sidebar ul.avmenu ul ul a {width:100px;}*/
	
	/*Left and right sidebar */
	#leftside {clear:left; float:left; margin:0 0 5px; padding:5px; width:140px;}
	#rightside {float:right; line-height:1.4em; margin:0 0 5px; padding:0; width:140px;}
	#leftside p,#leftside ul, #rightside p,#rightside ul {margin:0 0 16px; padding:0;}
	#leftside p, #rightside p {font-size:0.9em; line-height:1.4em;}
	#leftside li, #rightside li {line-height:1.2em; list-style:none; margin:0 0 6px; padding:0;}
	#leftside ul ul, #rightside ul ul {margin:6px 0 0 10px; padding:0;}
	#leftside ul ul li, #rightside ul ul li {margin:0 0 4px;}
	#leftside ul ul li a, #rightside ul ul li a {font-weight:400;}
	#leftside h2,#leftside h3, #rightside h2,#rightside h3 {color:#505050; font-size:1.4em; margin:0 0 8px; padding:0;}
	
	/* Main menu */
	#leftside ul.avmenu, #rightside ul.avmenu {display:block; list-style:none; margin:0 0 18px 0; padding:0; width:140px;}
	#leftside ul.avmenu li, #rightside ul.avmenu li {display:inline; line-height:1.4em; padding:0; width:140px;}
	#leftside ul.avmenu li a, #rightside ul.avmenu li a {background-color:#f4f4f4; border-left:4px solid #ccc; color:#505050; float:left; font-weight:700; margin-bottom:5px; padding:5px 1px 5px 5px; text-decoration:none; width:130px;}
	#leftside ul.avmenu li a:hover,#leftside ul.avmenu li a.current, #rightside ul.avmenu li a:hover,#rightside ul.avmenu li a.current {background-color:#eaeaea; border-left:4px solid #286ea0; color:#505050;}
	#leftside ul.avmenu ul, #rightside ul.avmenu ul {font-size:0.9em; margin:0 0 0 15px; padding:0 0 5px; width:125px;}
	#leftside ul.avmenu ul a, #rightside ul.avmenu ul a {font-weight:400; padding:3px 1px 3px 5px; width:115px;}
	#leftside ul.avmenu ul ul, #rightside ul.avmenu ul ul {width:113px;}
	#leftside ul.avmenu ul ul a, #rightside ul.avmenu ul ul a {width:100px;}
	
	div#center-main {
		width: 590px;
		float: left;
		padding: 5px 10px 5px;
		border-left:1px solid #e0e0e0; 
		border-right:1px solid #e0e0e0; 
		line-height:1.5em; 
 	}
	
	.post {
		margin-bottom: 25px;
	}
	
	.post-bgtop {
		padding: 20px;
	}
	
	.post-bgbtm {
	}
	
	.post . {
		height: 38px;
		border-bottom: 1px;
		margin-bottom: 20px;
		padding: 12px 0 0 0px;
		letter-spacing: -.5px;
	}
	
	.post .title a {
		color: #32639A;
		border: none;
	}
	
	.post meta {
		margin-bottom: 30px;
		padding: 5px 0px 15px 0px;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
	}
	
	.post .meta .date {
		float: left;
	}
	
	.post .meta .posted {
		float: right;
	}
	
	.post .meta .a {
	}
	
	.post .entry {
		padding: 0px 0px 20px 0px;
		padding-bottom: 20px;
		text-align: justify;
		font-size: 12px;
		line-height: 1.5em; 
		color: #787878;
		
	}
	
	.links {
		padding-top: 20px;
		font-size: 12px;
		font-weight: bold;
	}
	
	/* right-sidebar */
	
	div#right-sidebar {
		float: right;
		width: 160px;
		padding-left: 25px;
		color: #787878;
		background: #FFFFFF;
	}
	
	div#right-sidebar ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	div#right-sidebar li {
		margin: 0;
		padding: 0;
	}
	
	div#right-sidebar li ul {
		margin: 0px 0px;
		padding-bottom: 30px;
	}
	
	div#right-sidebar li li {
		line-height: 35px;
		margin: 0px 20px;
		border-left: none;
	}
	
	div#right-sidebar li li span {
		display: block;
		margin-top: -20px;
		padding: 0;
		font-size: 11px;
		font-style: italic;
	}
	
	div#right-sidebar h2 {
		color:#505050; font-size:1.6em; margin:0 0 8px; padding:0
	}
	
	div#right-sidebar p {
		margin: 0 0px;
		/*padding: 0px 30px 20px 30px;*/
		padding: 0px 20px 10px 20px;
		text-align: justify;
		/*font-size:0.9em; line-height:1.4em*/
	}
	
	div#right-sidebar a {
		border: none;
	}
	
	div#right-sidebar a:hover {
		text-decoration: underline;
		color: #8A8A8A;
	}
	

	.hide {display:none;}
	.announce {background-color:#f4f4f4; border-left:4px solid #ccc; clear:left; color:#505050; font-size:0.9em; line-height:1.5em; margin:10px 0 15px; padding:7px 5px 2px 5px; width:126px;}
	.announce-right {background-color:#f4f4f4; clear:left; color:#ccc; font-size:0.9em; line-height:1.5em; margin:10px 0 15px; padding:7px 5px 2px 5px; width:126px;}
	.announce p {margin:10px 0 0; padding:0;}