/* A CSS Framework template by Mattias Fjellstrm, zelphus@gmail.com */
/* Based on "A CSS Framework by Mike Stenhouse of Content with Style" */

@import url(nav-horizontal.css);

/* NAV BAR ON THE LEFT AND TWO COLUMNS OF CONTENT */
    div#content {
        position: relative;
        width: 947px;
        
        padding: 0;
        
        text-align: left;
        margin-top:-45px;
        margin-bottom: auto;
        margin-left:39px;
        border-bottom: green 1px dotted;
        text-align: left;
    }
   div#nav {
        float: left;
        /*width: 150px;*/
        
        width: 145px;
        display: inline;
        margin-right:12px;
    }
    div#main {
        margin-left:0px;
        float: left;
        /*width: 500px;*/
        display: inline;
    }

 div#sub {
        float: right;
        width: 145px;
        display: inline;
    	margin-left: -24px;

    }
