	/*
	Design by Matthew Lai
	*/
	@import url(nav-horizontal.css);	
	@import url(layout.css);
	@import url(layout.navtop-subright.css);
	
	body {
    	margin: 0;
    	padding:0px;
		background: #FFFFFF;
		font-family: 'Avenir LT Std';
		font-size: 13px;
		color: #333333;
	}
		
		
	h1, h2, h3 {
		margin: 0;
		padding: 0;
		font-family: 'Avenir LT Std';
		font-weight: normal;
		color: #333333;
		
	}
	
	h1 {
		font-size: 2.4:em;
		*font-size: 2.2em!important;
	}
	
	h2 {
		font-size: 1.8em;
	}
	
	h3 {
		font-size: 1.6em;
	}
	h4{
		font-size: 1.1em;
		color: orange;
		line-height: 140%;
		margin-bottom: 4px;
	}
	h5{
	    font-size: 1.0em;
	 	color: black;  
	}
		/* for ourstore.jsp */
	
	h6{
		color: black;
		display:block;
		font-family: 'Avenir LT Std', 'Trebuchet MS';
		font-size: 1em;
		margin-bottom:3px;
	}
	p {
		margin: 5px 0px 15px 0;
		border: 5px 0px 15px 0;
	}
	
	div#title {
		font-size: 31px;
		*font-size: 27px!important;
		letter-spacing: -1px;
		*letter-spacing: 0px;
		padding-top:11px !important;
		*padding-top:5px !important;
		padding-bottom:14px !important;
		*padding-bottom:17px !important;
		width: 606px;	
		border-bottom: 1px dotted orange;
	}
	div#contact-us {
		margin-top:12px;
		*margin-top:3px;
		color:black;
		width:606px;
		*height: 400px !important;
		font-size: 1.0em;
		font-weight: lighter;
		letter-spacing: 1px;
	}
	div#contact-us .location
	{
		width:230px;
		margin: 5px 0px 5px 0px;
		color: orange;
		letter-spacing: 0px;
		font-size: 14px;
	}	
	div#contact-us .address
	{
		width:230px;
		margin-bottom: 20px;
	  	line-height: 140%;
	}
	div#contact-us .detail
	{	
		font-size: 1.0em;
		width:230px;
		margin-bottom: 20px;
	}
	div#contact-us .feedback
	{
		color:orange;
		margin-bottom: 10px;
		display:block;	
	}
	div#contact-us .feedback .description{
		margin-bottom:20px;
		letter-spacing: 1px;
		text-align: justify;
		margin-top: 5px;
		color:black;
		font-size: 1em;
		letter-spacing: 0.9px;
		line-height: 140%;	
	}
	div#contact-us .feedback .form{
		margin-botton:15px;
	}
    div#our-store {
    	float: left;
    	margin-top:5px;
    	padding-top:5px;
	line-height: 140%;
 	width: 269px;
	letter-spacing: 0.5px;
	text-align: justify;
    	height: 380px;
	*font-size: 12px!Important; 
    }
    div#our-store .top{
	height: 230px;
    }
    div#our-store .top .first{
        height: auto;
        margin-bottom:15px;
    }
    div#our-store .top .second{
    }
    div#our-store .content-divide{
    	border-top: 1px dotted orange;
		margin-top: 10px;
    }
    div#our-store .info{
	margin-top:5px;
	height: 140px;
    }
    div#our-store .info .left{
    	color: black;
	height: 119px;
    	line-height: 140%;
    	float:left;
    	font-size:10px;
    	margin: 2px 5px 5px 0px;
	padding-right: 10px;
    	width:165px;
    	border-right: 1px dotted orange;
    }
    div#our-store .info .left .bottom{
       	font-color: black;
    	margin-top:15px;
    }
    div#our-store .info .right{
    	float:right;
    	text-align:left;
	margin-top: 2px;
	width: 83px;
	margin-left: 5px;
	font-size:10px;
    	margin-bottom: 5px;
    }
    div#our-store .info .right .divide{
		border-bottom: 1px dotted orange;
    }
    div#our-store .info .right .bottom{
		margin: 5px 0px 0px 8px;
    }
	div#photo {
		border: 10px 0px 5px 10px;
		margin: 10px 0px 5px 10px;
		float: right;
	}

		
	div#movie-list{
	    width: 100%;
	    text-align: left;	    
	}
	
	div#movie-list .top{
		float: left;	
		width: 607px;
		height: 357px;
		margin-bottom:10px;
	}
	
	div#movie-list .bottom{
		float:left;			
	}
	
	div#movie-list .bottom .heading{
	    width: 607px;
	    border-bottom: 1px dotted orange;
	    font-weight: normal;
	    font-size: 20px;
	    color: black;
	    height: 18px;
	}
	
	div#movie-list .bottom .list{
		float: left; 
		font-size: 13px;
		margin: 4px 35px 0px 5px;
	    text-transform:uppercase;
	    
	}
	div#movie{
		width: 100%;
		text-align: left;
	}

	div#movie .movie-left{
		float: left;
		width: 323px;
		color: black;
		font-size: 10px;
	}

	div#movie .movie-left .movie-heading{
		color: black;
		font-size: 49px;
		font-weight: bold;
		letter-spacing: -6px;
		margin-top: 19px;	
	}
	div#movie .movie-left .movie-title{
		color: orange;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: -4px;
		margin-bottom: 10px;
		margin-top: 15px;
	}
	/* follows the same line */
	div#movie .movie-left .heading1{
		color:orange;
		text-transform: uppercase;
		float: left;
	}
	/* new line after heading */
	div#movie .movie-left .heading2{
		color:orange;
		text-transform: uppercase;
		margin-top: 5px;
		/*white-space: pre-wrap; /* css-3 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
		
	}
	div#movie .movie-left .movie-short-description{
		margin-bottom: 5px;
	}
	
	div#movie .movie-left .movie-starring {
		margin-bottom: 5px;
		
	}
	
	div#movie .movie-left .movie-plot {
		height: 100px;
		margin-bottom: 5px;
	}
	
	div#movie .movie-left .movie-date{
		height: 34px;
		margin-bottom: 14px;
	}
	
	div#movie .movie-left .movie-venue {
		margin-bottom: 14px;
	}
	
	div#movie .movie-left .movie-ticket {
		margin-bottom: 5px;
	
	}
	
	div#movie .movie-left .movie-booking {
		height: 52px;
		margin-bottom: 10px;
		
	}
	
	div#movie .movie-left .movie-description{
		margin-top: 10px;	
	}
	div#movie .movie-left .movie-link{
	}
	div#movie .movie-right{
		float: right;
		width: 270px;
	}
	.post . {
		height: 38px;
		border-bottom: 1px;
		margin-bottom: 20px;
		padding: 12px 0 0 0px;
	}
		
	.post .picture {
		float: right;
		padding-top: 5px;
		padding-right: 5px;
	}
	
	.post .description {
		float: left;
		padding: 5px 0px 20px 0px;
		padding-bottom: 10px;
		text-align: justify;
		font-size: 12px;
		line-height: 1.5em; 
		color: #333333;
	}
	
	.detail ul {
	list-style:none;
	color:#333333;
	font-size:12px;
	overflow:hidden;
	margin:0;
	padding:0;
	}
	
	.detail picture {
		margin-bottom: 20px;
		border-bottom: 20px;
		float: left;
	}
	.detail ul li ul li {
	border-top:1px solid #dbdbdb;
	line-height:19px;
	}

	.detail ul li ul {
		border-bottom:1px solid #dbdbdb;
		margin-bottom:10px;
	}
	.detail ul li ul ul {
		border-bottom:none;
		margin-bottom:0;
	}
	
	div#about-us{
	    width:100%;
	    text-align:justify;
	}
	div#about-us .detail{
		margin-top:10px;
		margin-left:5px;
		margin-top:-2px;	
	}

	
