	/*
	Design by Matthew Lai
	*/
	@import url(nav-horizontal.css);	
	@import url(layout.css);
	@import url(layout.navtop-subright.css);
	
	body {
    	margin: 0;
    	padding:0px;
		background: #FFFFFF;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #333333;
	}
		
		
	h1, h2, h3 {
		margin: 0;
		padding: 0;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: normal;
		color: #333333;
		
	}
	
	h1 {
		font-size: 2.2em;
	}
	
	h2 {
		font-size: 1.8em;
	}
	
	h3 {
		font-size: 1.6em;
	}
	h4{
		font-size: 1.2em;
		color: orange;
		line-height: 140%;
		margin-bottom: 5px;
	}
	h5{
	    font-size: 1.1em;
	 	color: black;  
	}
		/* for ourstore.jsp */
	
	h6{
		color: black;
		display:block;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		margin-bottom:5px;
	}
	p {
		margin: 5px 0px 15px 0;
		border: 5px 0px 15px 0;
	}
	
	div#title {
		width:606px;
		border-bottom: 1px dotted orange;
		margin-top: 8px;
		font-size: 26px;
		font-weight: bold;
	}
	div#contact-us {
		color:black;
		width:606px;
		font-size: 1.0em;
		font-weight: lighter;
		letter-spacing: 1px;
	}
	div#contact-us .location
	{
		width:230px;
		margin: 5px 0px 5px 0px;
		color: orange;
		letter-spacing: 0px;
		font-size: 14px;
	}	
	div#contact-us .address
	{
		width:230px;
		margin-bottom: 20px;
	}
	div#contact-us .detail
	{	
		font-size: 1.1em;
		width:230px;
		margin-bottom: 20px;
	}
	div#contact-us .feedback
	{
		color:orange;
		margin-bottom: 10px;
		display:block;	
	}
	div#contact-us .feedback .description{
		margin-bottom:20px;
		letter-spacing: 1px;
		text-align: justify;
		margin-top: 5px;
		color:black;
		font-size: 1em;
		letter-spacing: 0.9px;
		
	}
	div#contact-us .feedback .form{
		margin-botton:15px;
	}
    div#our-store {
    	float: left;
    	margin-top:5px;
    	padding-top:5px;
		line-height: 140%;
 		width: 269px;
		letter-spacing: 0.5px;
		text-align: justify;
    }
    div#our-store .help{
    	margin-top:20px;
		margin-bottom: 5px;
		margin-top: 15px;
    }
    div#our-store .content-divide{
    	border-top: 1px solid orange;
		margin-top: 10px;
    }
	div#our-store .info{
	    margin-top:5px;
	}
	div#our-store .info .left{
    	color: black;
    	line-height: 120%;
    	float:left;
    	font-size:11px;
    	margin-bottom: 5px;
    	width:168px;
    	border-right: 1px solid orange;
    }
    div#our-store .info .left .bottom{
       	font-color: black;
    	margin-top:15px;
    }
    div#our-store .info .right{
    	float:right;
    	text-align:left;
		width: 90px;
		margin-left: 5px;
		font-size:10px;
    	margin-bottom: 5px;
    }
    div#our-store .info .right .divide{
		border-bottom: 1px solid orange;
    }
    div#our-store .info .right .bottom{
		margin: 10px 0px 5px 5px;
	}
	div#photo {
		border: 10px 0px 5px 10px;
		margin: 10px 0px 5px 10px;
		float: right;
	}

		
	div#movie-list{
	    width: 100%;
	    text-align: left;	    
	}
	
	div#movie-list .top{
		float: left;	
		width: 607px;
		height: 357px;
		margin-bottom:10px;
	}
	
	div#movie-list .bottom{
		float:left;			
	}
	
	div#movie-list .bottom .heading{
	    width: 607px;
	    border-bottom: 1px solid orange;
	    font-weight: normal;
	    font-size: 20px;
	    color: black;
	}
	
	div#movie-list .bottom .list{
		float: left; 
		font-size: 17px;
		width: 35px; 
		margin: 5px 25px 0px 0px;
	    text-align: center; 
	    text-transform:uppercase;
	    
	}
	div#movie{
		width: 100%;
		text-align: left;
	}

	div#movie .movie-left{
		float: left;
		width: 325px;
		margin-right: 10px;
	}

	div#movie .movie-left .movie-title{
		color: black;
		font-size: 40px;
		font-weight: bold;
	}
	div#movie .movie-left .movie-description{
        padding-top: 10px;
	}
	div#movie .movie-right{
		float: right;
		width: 270px;
	}
	.post . {
		height: 38px;
		border-bottom: 1px;
		margin-bottom: 20px;
		padding: 12px 0 0 0px;
	}
		
	.post .picture {
		float: right;
		padding-top: 5px;
		padding-right: 5px;
	}
	
	.post .description {
		float: left;
		padding: 5px 0px 20px 0px;
		padding-bottom: 10px;
		text-align: justify;
		font-size: 12px;
		line-height: 1.5em; 
		color: #333333;
	}
	
	.detail ul {
	list-style:none;
	color:#333333;
	font-size:12px;
	overflow:hidden;
	margin:0;
	padding:0;
	}
	
	.detail picture {
		margin-bottom: 20px;
		border-bottom: 20px;
		float: left;
	}
	.detail ul li ul li {
	border-top:1px solid #dbdbdb;
	line-height:19px;
	}

	.detail ul li ul {
		border-bottom:1px solid #dbdbdb;
		margin-bottom:10px;
	}
	.detail ul li ul ul {
		border-bottom:none;
		margin-bottom:0;
	}
	
	div#about-us{
	    width:100%;
	    text-align:justify;
	}
	div#about-us .detail{
		margin-top:10px;
		margin-left:5px;
		
	}

	