/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
@import url(nav-horizontal.css);	

body {
   	margin: 0;
   	padding:0px;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}
	
	
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #333333;
	
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	/*color: #4486C7;*/
	color: #699850;
    font-weight: normal;


}


div#search {
	float: left;
	width: 140px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #E2E2E2;
	border-bottom: 4px solid #E2E2E2;
}

div#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0px;
}

div#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

div#search-text {
	width: 125px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

div#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}


/* Content */

div#text-over-image {
	position:absolute; 
	top:250px; 
	left:20px; 
	width:200px; 
	height:25px;
	font-size: large;
	color:0000000;
	
}

div#main-title {
	width: 400px;
	float: left;	
	font-size: large;
	font-style: BOLD;
	letter-spacing: 0.1em;
	color: #787878;
	border-bottom: 1px solid #E2E2E2;
	padding-left: 20px;
}

div#main-banner-left {
	float: left;
	padding-top: 20px;
	padding-left: 10px;
}

div#main-banner-right {
	float: left;
	padding-top: 20px;
}


div#center-main {
	width: 450px;
	float: left;
	padding: 5px 10px 5px;
	border-right:1px solid #e0e0e0; 
	line-height:1.5em; 
	}

.post {
	margin-bottom: 25px;
}

.post-bgtop {
	padding: 20px;
}

.post-bgbtm {
}

.post . {
	height: 38px;
	border-bottom: 1px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
}

.post .title a {
	color: #32639A;
	border: none;
}

.post meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta .a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
	font-size: 12px;
	line-height: 1.5em; 
	color: #787878;
	
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

.hide {display:none;}
.announce {background-color:#f4f4f4; border-left:4px solid #ccc; clear:left; color:#505050; font-size:0.9em; line-height:1.3em; margin:10px 0 15px; padding:7px 5px 2px 5px; width:126px;}
.announce p {margin:10px 0 0; padding:0;}

div#signup-container {
	float:right;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	background-color: #94bf00;
}
div#signup-container input {

	background-color: #69545d;
	border-top-width: 1px;
	border-right-width-value: 1px;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-bottom-width: 1px;
	border-left-width-value: 1px;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-top-style: solid;
	border-right-style-value: solid;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-bottom-style: solid;
	border-left-style-value: solid;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-top-color: black;
	border-right-color-value: black;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-bottom-color: black;
	border-left-color-value: black;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	color: white;
	font-size: 11pt;
	font-weight: bold;
	padding-top: 0.3em;
	padding-right: 2.5em;
	padding-bottom: 0.3em;
	padding-left: 2.5em;
	cursor: pointer;
}
/* right-sidebar */

.sidebar {
	float:left;
	width:140px;
	/*overflow:hidden; */
	padding:25px 10px 0 10px;
}

.sidebar ul {
	list-style:none;
	color:#555;
	font-size:11px;
	overflow:hidden;
	margin:0;
	padding:0;
}

.sidebar ul.left {
	float:left;
	width:150px;
}

.sidebar ul.right {
	float:right;
	width:150px;
}
.sidebar .rsslink {
	background:url(images/rss.gif) 140px 50% no-repeat;
}

.sidebar .googlereader {
	background:url(images/googlereader.gif) 140px 50% no-repeat;
}
.sidebar h2 {
	line-height:26px;
	background:#ebebeb;
	color:#323435;	
	font-size:14px;
	font-family:Tahoma;
	margin:0 0 5px;
	padding:0 8px;
}

.sidebar ul li ul li {
	border-top:1px solid #dbdbdb;
	line-height:19px;
}
.sidebar ul li ul li a {
	background:url(images/arrow_1.png) 4px 7px no-repeat;
	padding-left:13px;
	text-decoration:none;
	color:#555;
	display:block;
}
.sidebar ul li ul li a:hover {
	background-color:#469df4;
	color:#555;
	text-decoration:none;
}
.sidebar ul li ul {
	border-bottom:1px solid #dbdbdb;
	margin-bottom:10px;
}
.sidebar ul li ul ul {
	border-bottom:none;
	margin-bottom:0;
}
.sidebar div.partners img {
	margin:5px 0;
}


.left {
   list-style-type: none;
   
}
.left ul li {
   padding-top: 10px;
}
.left .banner {
   background: #cccccc;
   width: 130px;
   height: 130px;
   padding: 2px;
   
}
.left .banner a {
   display: block;
   padding-left: 20px;
}