/* A CSS Framework template by Mattias Fjellstrm, zelphus@gmail.com */
/* Based on "A CSS Framework by Mike Stenhouse of Content with Style" */

@import url(nav-horizontal.css);

/* NAV BAR ON THE LEFT AND TWO COLUMNS OF CONTENT */
    div#content {
        position: relative;
        width: 947px;
        text-align: left;
        margin-bottom: auto;
        margin-top: 5px;
        border-bottom: green 1px dotted;
    }
   div#nav {
       	float: left;
		width: 145px;
		margin-bottom: 10px;
    }
  
  	div#sub {
		    float: right;
	        width: 140px;
	        display: inline;
	}