<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.appfuse.model.User"/>
        <mapping class="org.appfuse.model.Role"/>
        <mapping class="local.tux.app.model.Catalog" />
        <mapping class="local.tux.app.model.Image" />
        <mapping class="local.tux.app.model.Manufacturer" />
        <mapping class="local.tux.app.model.Product" />
    </session-factory>
</hibernate-configuration>