<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

	
	
    <!-- Add new DAOs here -->
	<bean id="catalogyDao" class="local.tux.app.dao.hibernate.TuxNameGenericDaoHibernate">
		<constructor-arg value="local.tux.app.model.Catalog" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="imageDao" class="local.tux.app.dao.hibernate.TuxNameGenericDaoHibernate">
		<constructor-arg value="local.tux.app.model.Image" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="manufacturerDao" class="local.tux.app.dao.hibernate.TuxNameGenericDaoHibernate">
		<constructor-arg value="local.tux.app.model.Manufacturer" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    <!-- Add new Managers here -->
    <bean id="catalogManager" class="local.tux.app.service.impl.LookUpNameGenericManagerImpl">
    	<constructor-arg ref="catalogyDao"/>
    </bean>
    <bean id="imageManager" class="local.tux.app.service.impl.LookUpNameGenericManagerImpl">
    	<constructor-arg ref="imageDao" />
    </bean>
    <bean id="manufactureManager" class="local.tux.app.service.impl.LookUpNameGenericManagerImpl">
    	<constructor-arg ref="manufacturerDao" />
    </bean>
</beans>