<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">



	<bean id="specialPriceChecking"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		
		<property name="target">
			
				<bean class="local.tux.app.service.cron.impl.SpecialPriceCheckingCron">
					<property name="productManager" ref="productManager" />
				</bean>

		</property>
		
		<property name="transactionAttributes">
			<props>
				<prop key="execute">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="specialPriceCheckingJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="specialPriceChecking" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />

	</bean>
	
	
	<bean id="specialPriceCheckingTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	      <property name="jobDetail" ref="specialPriceCheckingJobDetail" />
                                      
          <property name="cronExpression" value="0 */5 * * * ?"/>
    </bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
               <property name="triggers">
                  <list>
                      <ref bean="specialPriceCheckingTrigger"/>
                     
                 </list>
         </property>
     </bean> 
</beans>