
<html>
	<style>
	
	
	</style>
	<body>
		<h1>$title</h1>
		
	Hello $cart.getUser().getFirstName(),
	
	$bodyContent
	
	
	<h2>Order Information</h2>
	
	<div class="left">
		<strong>Billing Address: </strong><br />
		$cart.getUser().getFirstName() $cart.getUser().getLastName() <br />
		$cart.getUser().getAddress().getAddress() <br />
		$cart.getUser().getAddress().getCity(), $cart.getUser().getAddress().getProvince()<br />
		$cart.getUser().getAddress().getCountry() <br />
		
	</div>
	
	<div>
		<strong> Shipping Address: </strong><br />
		$address.getFirstName() $address.getLastName()<br />
		$address.getAddress().getAddress()<br />
		$address.getAddress().getCity(), $address.getAddress().getProvince()<br />
		$address.getAddress().getCountry()<br />
	</div>
	
	<h2>Product</h2>
	#set( $subtotal = 0)
	<table>
		<tr class="heading">
			<td colspan=2>Product</td>
			<td> Qty.</td>
			<td> Price</td>
			<td>Total</td>
		</tr>
		#foreach ( $item in $cart.getShoppingItems())
		<tr class="item">
		<td>$item.getProudct().getId()</td>
		<td>$item.getProduct().getName()</td>
		<td>$item.getQuantity()</td>
		<td>
		#if ($item.getProduct().getSpecial())
			$item.getProduct().getDiscountPrice()
		#else
			$item.getProduct().getPrice()
		#end
		</td>
		<td>
			
		</td>
		</tr>
		#end
		<tr class="sub">
			<td colspan=4>
				Sub Total:
			</td>
			<td>
				$subTotal
			</td>
		</tr>
	</table>
	
		
	
	
		
	</body>


</html>