Hi,

Your account has been approved.

Below is the login infomation to the web site.

User name: $user.getUsername()
password : $user.getPassword()


Thanks,

if you have any question regarding our website, please don't hesitate to call us at any time

Contact: 23149295
Trinity Team